.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}
.background{
  background: rgb(25,25,25);
  background: linear-gradient(180deg, rgba(25,25,25,1) 66%, rgba(8,44,108,1) 92%);
}

.center-card{
  margin: auto
}
.center-image{
  display:flex;
  justify-content:center;
  align-items:center;
}

.noHover{
  pointer-events: none;
}
