.center {
    margin: auto;
    padding: 250px 0;
  }

.text-md-center {
    text-align: center;
}

a{
  color: #000000
}

.container {
  position: relative;
}

.vertical-center {
  position: relative;
}

.center-card {
  margin: auto;
}

.center-image{
  display:flex;
  justify-content:center; 
  align-items:center;
}
